:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-color: #757575;
  --dark-color: #212121;
  --light-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form__label, .modal__btn__close, .footer-subscribe-btn, .footer-subscribe-input::placeholder, .footer-social__link, .footer-social__list, .customers-list__link, .customers-list, .duties-text, .features-list__container, .features-list__icon, .header__container, .social-list__link, .social-list {
  display: flex;
  align-items: center;
}

body {
  font-family: var(--primary-font-family);
  color: #212121;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.social-list {
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.social-list__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--light-color);
}

.logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-top__studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-footer__link {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.logo-footer__studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

@media screen and (min-width: 1200px) {
  .logo-top {
    margin-right: 92px;
  }
  .logo-footer__link {
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}
.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 100;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    width: 100vw;
    height: 100vh;
  }
  .mobile-menu__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__link.current {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20vh;
  }
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 22px;
  }
  .mobile-menu__tel {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__social-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20vh;
    width: auto;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  .mobile-menu__social-item {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .mobile-menu__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu__close-icon,
  .mobile-menu__btn-icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus,
  .mobile-menu__btn-icon:hover,
  .mobile-menu__btn-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .header__container {
    width: 738px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .header-contacts {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    margin-bottom: 0;
    width: 16px;
    height: 16px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover .contacts__icon, .header-contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn {
    display: none;
  }
  .logo-top {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header__container {
    margin: auto;
  }
  .header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .header-contacts__link {
    justify-content: center;
  }
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link.current {
  color: var(--accent-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.hero {
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-mobile@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-tablet@1x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-desktop@2x.jpg");
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding-left: 0;
}

.features-list__container {
  height: 120px;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-list__item {
  margin-left: 30px;
  margin-top: 30px;
}

.features-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__dscr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .features-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-list__container {
    width: 354px;
  }
  .features-list__item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .features__container {
    margin: 0 auto;
  }
  .features-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
  .features-list__container {
    width: 270px;
  }
  .features-list {
    flex-wrap: nowrap;
  }
  .features-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .duties {
    display: none;
  }
}
.duties-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  padding-inline-start: 0;
}

.duties-list__item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.duties-img-thumb {
  position: relative;
}

.duties-text {
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0;
}

.team-list__member {
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
    padding-inline-start: 0;
  }
  .team-list__member {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list__member {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.customers-list {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-left: -30px;
  margin-bottom: -30px;
}

.customers-list__link {
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 3%;
  width: 210px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers-list__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.customers__container {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .customers-list__link {
    width: 170px;
  }
}
.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-list__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list__item:hover, .address-list__item:focus {
  color: var(--accent-color);
}

.address {
  color: var(--light-color);
}

footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-third-block {
  display: inline-block;
  width: 100%;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-top: 60px;
  text-align: center;
}

.footer-social__list {
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
}

.footer-social__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: var(--light-color);
}

.footer-subscribe-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: white;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-input:focus {
  border-color: white;
}
.footer-subscribe-input:focus::placeholder {
  opacity: 0;
}

.footer-subscribe-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.footer-subscribe-btn {
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover, .footer-subscribe-btn:focus {
  background-color: #188ce8;
}

.footer-subscribe-wrapper {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__container {
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row;
  }
  .footer-social {
    margin-left: 165px;
  }
  .footer-title {
    margin-top: 0;
  }
  .footer-third-block {
    margin: 60px 159px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer-social {
    margin: 0;
  }
  .footer-title {
    text-align: left;
  }
  .footer-third-block {
    margin-left: 92px;
    margin-right: 0;
    margin-top: 0;
  }
  .footer-subscribe-wrapper {
    display: flex;
    align-items: center;
    align-items: baseline;
  }
  .footer-subscribe-input {
    display: block;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
  }
  .footer-subscribe-btn {
    margin: 0;
  }
  .address-list {
    align-items: flex-start;
    margin-right: 70px;
    width: 230px;
  }
}
.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 40px;
  margin-right: -8px;
  margin-top: -8px;
}

.filter-list__item {
  margin-right: 8px;
  margin-top: 8px;
}

.filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}
.projects-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.projects-list__dscr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.projects-list__thumb {
  position: relative;
  overflow-y: hidden;
}

.projects-list__wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-list__link {
  display: flex;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__item {
  margin-top: 30px;
}

.projects-list__text {
  opacity: 0;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 50px 24px;
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__link:hover .projects-list__text, .projects-list__link:focus .projects-list__text {
  opacity: 1;
  height: 100%;
}

@media screen and (max-width: 380px) {
  .projects-list__text {
    font-size: 13px;
    padding: 30px 50px;
  }
}
@media screen and (max-width: 767px) {
  .projects-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .projects-list__title {
    width: 304px;
    font-size: 17px;
  }
  .projects-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-list__item {
    margin-left: 30px;
    display: flex;
  }
  .projects-list__link {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__title {
    width: 322px;
  }
  .projects-list {
    flex-direction: row;
    padding-left: 0;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  min-width: 90%;
  height: auto;
  overflow: auto;
  margin: 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 40px;
}

.modal__btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.modal__icon__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn__close:hover .modal__icon__close, .modal__btn__close:focus .modal__icon__close {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
.contact-form__checkmark {
  position: absolute;
  width: 11px;
  height: 10px;
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__title {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-color);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.contact-form__wrapper {
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__message {
  width: 100%;
  height: auto;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__label {
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}
.contact-form__label::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 0.2px solid #212121;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__checkbox:focus + .contact-form__label::before {
  border: 0.2px solid var(--accent-color);
}
.contact-form__checkbox:checked + .contact-form__label::before {
  background-color: var(--accent-color);
  border: 0.2px solid #ffffff;
}

.contact-form__checkfield {
  margin-bottom: 30px;
  overflow-x: hidden;
}

.policy-link {
  color: var(--accent-color);
  display: inline-block;
}

.contact-form__btn__submit {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__btn__submit:hover, .contact-form__btn__submit:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 380px) {
  .contact-form__checkmark {
    width: 14px;
    height: 14px;
  }
  .contact-form__label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__checkmark {
    padding-left: 2px;
  }
  .contact-form__message {
    height: 120px;
  }
}/*# sourceMappingURL=main.css.map */