.main-title {
    font-weight: 900;
    @include font (26px, 1.62, 0.06em);
       text-align: center;
    text-transform: uppercase;
    color: var(--light-color);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 350px;
  }

  @media screen and (min-width: 768px) {
   .main-title {
      width: 360px;
   }
  }

@media screen and (min-width: 1200px) {
.main-title {
 @include font (44px, 1.36, 0.06em);
 width: 696px;
}
  }